$color-primary: #fff;
$color-primary:black;

//$color-secondary: rgb(36, 34, 34);

$color-gray: #d9d9d9;
$color-secondary: white;
$color-dark-gray: #666;
$color-light-gray: #d5d5d5;
//$color-dark-gray: #444;
$color-red: #d80026;
$color-blue: #004797;

$font-primary: 'Roboto', sans-serif;
$font-secondary: "Open Sans", sans-serif;
$font-secondary: "Source Sans Pro", sans-serif;
$font-special: "Bree Serif", serif;

@mixin box-shadow($x, $y, $blur, $spread, $color) {
  -webkit-box-shadow: $x $y $blur $spread $color;
  -moz-box-shadow: $x $y $blur $spread $color;
  -ms-box-shadow: $x $y $blur $spread $color;
  box-shadow: $x $y $blur $spread $color;
}
@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  -ms-border-radius: $radius;
  border-radius: $radius;
}

@mixin flex-column-box {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
  color: $color-primary;
}

body {
  background-color: $color-secondary;
  font-family: $font-primary;
  line-height: 1.6;
  overflow-x: hidden;
}

li {
  list-style: none;
}

a {
  color: inherit;
  text-decoration: none;
}


.container {
  max-width: 1030px;
  margin: 0 auto;
}
