.default-layout {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
 // background-color: yellow;
  &--footer {
    position: absolute;
    bottom: 0;
  }
}
