.search-container {
  width: 100%;
  display: flex;
  background-color: orange;
 // position: relative;
  //margin:50px;
  // &--input {
  //   input {
  //     background-color: transparent;
  //   }

  // }

}
