@import "../../components/layouts/styles/general-styles.scss";

.hero {
  width: 100%;
  margin-top: 20px;
  padding: 0 5%;
  text-align: left;
  &--info {
    padding-top: 40px;
  }
  &--title {
    margin-top: 10px;
  }
  &--paragraph {
    width: 100%;
    margin: 20px 0;
  }
  &--search {
    margin-top: 30px;
    .input--row {
      width: 100%;
      justify-content: center;
      &--input {
        border: 1px solid #c9c9c9;
        width: 100%;
      }
    }
    i {
      padding-right: 10px;
    }
    .input--row--error {
      margin-top: 5px;
      font-size: 1rem;
    }
  }
}

.favorites {
  @include flex-column-box;
  padding: 0 5%;
  margin-top: 30px;
  margin-bottom: 40px;
  text-align: left;
  &--title {
    margin-bottom: 10px;
  }
  &--box {
    margin-bottom: 40px;
    border: rgb(201, 201, 201) solid 1px;
    &--artist {
      padding: 5px;
      border-bottom: rgb(201, 201, 201) solid 1px;
    }
    &--song {
      padding: 5px;
    }
    &--player {
      text-align: center;
      background-color: #f1f3f4;
      audio {
        width: 100%;
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .hero {
    padding: 0 5%;
    &--search {
      margin-top: 30px;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .hero {
    padding: 0 5%;
    font-size: 1.1rem;
    &--search {
      margin-top: 40px;
    }
    p {
      margin-bottom: 5px;
    }
  }
}
