@import "../layouts/styles/general-styles.scss";

.header {
  background-color: $color-secondary;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  position: relative;
  &--nav {
    width: 100%;
    background-color: orange;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
  }
  &--icon {
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &--search {
    position: absolute;
    top: 0;
    right: 0;
    z-index: -9;
    background-color: blue;
  }
}
.active {
  transform: translateY(100%);
}
@media only screen and (max-width: 768px) {
}
@media only screen and (min-width: 769px) {
  //   .header {
  //     &--burger {
  //       display: none;
  //     }
  //     &--nav {
  //       font-size: 1.3rem;
  //       &--list {
  //         display: flex;
  //         li {
  //           display: flex;
  //           padding: 0 1rem;
  //           i {
  //             display: inline;
  //             margin-right: 30px;
  //           }
  //         }
  //       }
  //     }
  //   }
}
