@import "../../../components/layouts/styles/general-styles.scss";

.input {
  @include flex-column-box;
  width: 100%;

  &--row {
    //  border: black solid 1px;
    display: flex;
  //  justify-content: flex-end;
    height: 30px;
    //background-color: seagreen;
    &--error {
      margin: 0 auto;
    }
    &--input {
      &.errorClass {
        border: solid 1px red;
      }
    }
  }
}