@import "../layouts/styles/general-styles.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
 // font-family: $font-secondary;
  height: 80px;
  padding: 0 1%;
  font-size: 0.8rem;
  // background-color: pink;

}

@media only screen and (min-width: 768px) {
  .footer {
    font-size: 0.9rem;
  }
}


