@import "../layouts/styles/general-styles.scss";

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: $font-special;
  height: 80px;
  // background-color: pink;

  &--logo {
    margin-right: 20px;
  }
}

@media only screen and (min-width: 768px) {
}

@media only screen and (min-width: 1024px) {
  .footer {
    font-size: 1.3rem;
  }
}
