@import "../layouts/styles/general-styles.scss";

.header {
  background-color: $color-secondary;
  width: 100%;
  height: 82px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid #c9c9c9;
  position: relative;
  &--nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 2rem;
  }
  &--invisiblediv {
    width: 50px;
  }
  &--icon {
    padding: 5px;
    font-size: 1.5rem;
    cursor: pointer;
  }
  &--search {
    .input--row {
      &--input {
        margin-left: 10px;
      }
      &--error {
        padding-top: 3px;
        font-size: 0.8rem;
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  // body {
  //    overflow-x: hidden;
  // }
  .header {
    &--invisiblediv {
      display: block;
    }
    &--search {
      border-bottom: 1px solid #c9c9c9;
      position: absolute;
      z-index: 1;
      left: 0;
      margin-top: 81px;
      padding-top: 20px;
      transform: translateX(-100%);
      //transition: transform 0.5s ease-in;
    }
    .active {
      transform: translateX(0%);
    }
  }
}

@media only screen and (min-width: 769px) {
  .header {
    justify-content: space-between;
    &--invisiblediv {
      display: none;
    }
    &--icon {
      display: none;
    }
    &--search {
      form {
        width: 100%;
      }
      display: flex;
      width: 100%;
      margin-top: 20px;
      margin-right: 20px;
      padding: 0;
      .input--row {
        &--input {
          margin-left: 10px;
        }
      }
    }
  }
}
