@import "../../components/layouts/styles/general-styles.scss";

.article-detail {
  color: $color-primary;
  text-align: center;
  padding: 10px;

  &--title {
    // text-align: justify;
    margin: 10px;
    margin-bottom: 20px;
  }

  &--description {
    margin: 10px;
    font-family: $font-secondary;
  }

  &--image {
    margin-top: 10px;
    width: 100%;
    height: 200px;
  }

  &--autor {
    margin: 10px;
    font-size: 0.8rem;
  }

  &--content {
    margin-top: 20px;
    text-align: justify;
  }
}

@media only screen and (min-width: 425px) {
  .article-detail {
   // text-align: left;

    &--image {
      height: 250px;
    }
  }
}

@media only screen and (min-width: 500px) {
  .article-detail {
    &--image {
      height: 300px;
    }
  }
}
@media only screen and (min-width: 600px) {
  .article-detail {
    &--image {
      height: 350px;
    }
  }
}

@media only screen and (min-width: 700px) {
  .article-detail {
    &--image {
      height: 400px;
    }
  }
}

@media only screen and (min-width: 1020px) {
  .article-detail {
    &--image {
      height: 450px;
    }
  }
}
