@import "../../components/layouts/styles/general-styles.scss";

.album-detail {
  @include flex-column-box;
  margin-top: 30px;
  margin-bottom: 100px;
  padding: 0 5%;
  font-size: 0.8rem;
  text-align: left;
  //  background-color: pink;
  &--info {
    display: flex;
    width: 100%;
    margin-bottom: 20px;
    //   background-color: yellow;

    &--logo {
      width: 80px;
    }

    &--content {
      padding-left: 5%;
      @include flex-column-box;
      text-align: left;
      width: 100%;
    }
  }

  &--location {
    margin-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid #c9c9c9;
  }

  &--grid {
    @include flex-column-box;
    margin-top: 30px;
    text-align: left;
    .CD-Box {
      margin-bottom: 40px;
      border: rgb(201, 201, 201) solid 1px;
      position: relative;
      &--name {
        padding: 5px;
        border-bottom: rgb(201, 201, 201) solid 1px;
        &-hover {
          padding: 5px;
          font-size: 0.8rem;
          position: absolute;
          top: 45px;
          left: 20px;
          background-color: $color-dark-gray;
          color: $color-secondary;
        }
        &-hover::before {
          content: "";
          position: absolute;
          bottom: 100%;
          left: 10%;
          margin-left: -5px;
          border-width: 9px;
          border-style: solid;
         // background-color: violet;
          border-color:  transparent transparent #555 transparent;
        }
      }
      &--song {
        display: flex;
        justify-content: space-between;
        padding: 5px;
      }
      &--player {
        text-align: center;
        background-color: #f1f3f4;

        audio {
          width: 100%;
        }
      }
    }
  }
}

@media only screen and (min-width: 700px) {
  .album-detail {
    font-size: 1rem;

    &--info {
      &--logo {
        width: 180px;
      }
    }

    &--grid {
      .CD-Box {
        //background-color: $color-light-gray;
        margin-top: 0px;
      }
    }
  }
}

@media only screen and (min-width: 1020px) {
  .album-detail {
    font-size: 1.1rem;
  }
}
